<ion-content>
  <form>
    <div>
      <ion-grid [fixed]="true">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" size-sm="3"> <ion-card>
              <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>100.00LE</ion-card-title>
                <ion-card-subtitle>FrappIT</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="3"> <ion-card>
              <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>100.00LE</ion-card-title>
                <ion-card-subtitle>FrappIT</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="3"> <ion-card>
              <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>100.00LE</ion-card-title>
                <ion-card-subtitle>FrappIT</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="3"> <ion-card>
              <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>100.00LE</ion-card-title>
                <ion-card-subtitle>FrappIT</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
